
<table border="2">
    <tr>
       
        <td>name</td>
        <td>price</td>
        <td>quantity</td>
        <td>category</td>
        <td>Action</td>
    </tr>

    {% for st in s%}
<tr>
    
    <td>{{st.name}}</td>
    <td>{{st.price}}</td>
    <td>{{st.quantity}}</td>
    {#
    <td>{{st.cat}} si vous avez utliser la mehtode to string</td>
    #}
    
    <td>{{st.name}}</td>
    <td><a href="{{path('u',{'id':st.id})}}"> update produit</a>
        <a href="{{path('remove',{'id':st.id})}}"> remove</a>
        <a href="{{path('dtproduit',{'id':st.id})}}"> detail</a>
    </td>

</tr>
{%endfor%}

</table>
<a href="{{path('addproduit')}}"> add product</a>
  